<launch>
  <node name="myUr3Jacobian"
        pkg="ur3_moveit_config"
        type="myUr3Jacobian"
        respawn="true" output="screen">
    <rosparam command="load"
              file="$(find ur3_moveit_config)/config/kinematics.yaml"/>
  </node>
  <node name="keys2twist_continuous"
        pkg="ur3_moveit_config"
        type="keys2twist_continuous.py"
        respawn="true" output="screen">
  </node>
  <node name="key_publisher"
        pkg="ur3_moveit_config"
        type="key_publisher.py"
        respawn="true" output="screen">
  </node>


</launch>
