<launch>
 <!-- Load the ur3 urdf model into the parameter server -->
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur3_robot.urdf.xacro'" />
  
<!-- The semantic description that corresponds to the URDF -->
<param name="robot_description_semantic" textfile="$(find ur3_moveit_config)/config/ur3.srdf" />

<!-- Loads URDF (again, unneccessarily (?)), launches robot_state_publisher, launches move_group (which is the main MoveIt executable) and run Rviz -->
<include file="$(find ur3_moveit_config)/launch/demo.launch" />
 
<!-- Launches myUr3Jacobian (source: myJacobian.cpp), and the key_publisher and the key_to_twist_contiuous node --> 
<include file="$(find ur3_moveit_config)/launch/myKinematics_key.launch" />

</launch>
