<launch>
 <!-- Load the ur3 urdf model into the parameter server -->
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur3_robot.urdf.xacro'" />
  
<!-- The semantic description that corresponds to the URDF -->
<param name="robot_description_semantic" textfile="$(find ur3_moveit_config)/config/ur3.srdf" />

<!-- Loads URDF (again, unneccessarily (?)), launches robot_state_publisher, launches move_group (which is the main MoveIt executable) and run Rviz -->
<include file="$(find ur3_moveit_config)/launch/demo.launch" />
 
<!-- Launches the ps3joy ps3.launch and two further nodes: joy2joy_continuous, to make the joystick input continuous, and myUr3Jacobian (source: myJacobian.cpp), which publishes new joint_states according to the joystick input by calculating the inverse Jacobian. Like, the easiest way possible to solve the inverse kinematics --> 
<include file="$(find ur3_moveit_config)/launch/myKinematics_joy.launch" />

</launch>
